body {
    font-family: "Sono", sans-serif;
  }
.pricing-container{

display: flex;
justify-content: center;
align-items: center;

height: 100vh;
gap: 2rem;
}

  .pricing-plan{
    
    flex: 1;
    background-color: whitesmoke;
    border-radius: 5px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
  }
  .plan-title{
  
    font-weight:bold;
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  .plan-price{
  
    font-weight:bold;
    font-size: 48px;
    margin-bottom:15px;
  }
  .plan-features{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 25px;
  }
  .plan-features li{
    margin-bottom: 20px;
  }
  .plan-button{
    background-color: orange;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding:10px;
    color: white;
  }
  
  /* supaya bisa responsive  */
  @media (max-width: 1250px) {
    .pricing-container{
      flex-direction: column;
      height: 100%;
      margin-top: 50px;
    }
  }
  .testimonials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 20px;
    background-color: #f9f9f9;
  }
  .testimonial {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px black;
  }
  .testimonial p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .testimonial .author {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
  }